@page "/fileupload"

<PageTitle>File Upload</PageTitle>

<div class="container">
    <h3>Convertisseur de Document Word</h3>

    <InputFile OnChange="HandleFileSelected" />

    @if (!string.IsNullOrEmpty(uploadedFileName))
    {
        <p>Fichier Téléchargé: @uploadedFileName</p>
        <div class="row">
            <div class="col-md-6">
                <h4>HTML Converti</h4>
                <RadzenHtmlEditor @bind-Value=@convertedHtml style="height: 400px;" Change="OnChange">
                    <RadzenHtmlEditorRedo />
                    <RadzenHtmlEditorUndo />
                    <RadzenHtmlEditorFormatBlock />
                    <RadzenHtmlEditorBold />
                    <RadzenHtmlEditorItalic />
                    <RadzenHtmlEditorUnderline />
                    <RadzenHtmlEditorAlignLeft />
                    <RadzenHtmlEditorAlignCenter />
                    <RadzenHtmlEditorAlignRight />
                    <RadzenHtmlEditorJustify />
                </RadzenHtmlEditor>
            </div>
            <div class="col-md-6">
                <h4>HTML Converti</h4>
                <textarea rows="15" cols="80" @bind="formattedHtml"></textarea>
                <button class="btn btn-primary mt-2" @onclick="CopyToClipboard">Copy to Clipboard</button>
            </div>
        </div>
        <div style="padding-top: 5px">
            <button class="btn btn-primary mt-2" @onclick="DownloadHtmlFile">Télécharger HTML</button>
        </div>
    }
</div>